<footer class="page-footer brown lighten-1">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col m8 s12 left">
                    <p class="brown-text text-lighten-5 roboto medium">
                        © 2018 Copyright -
                        <span>MAIME - Erick.B, Inès.B, Ludovic.R</span>
                    </p>
                    <ul>
                        <li><a class="light-brwn-2" href="#">Signaler un contenu illicite</a></li>
                        <li><a class="light-brwn-2" href="#">Politique de confidentialité</a></li>
                        <li><a class="light-brwn-2" href="#">Informations légales</a></li>
                        <li><a class="light-brwn-2" href="#">C.G.U.</a></li>
                    </ul>
                </div>
                <div class="right">
                    <i class="fab fa-facebook-f fa-2x pr-24"></i>
                    <i class="fab fa-twitter fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/script.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/init.js"></script>

