<header>
    <nav class="brown lighten-1 h-125">
        <div class="nav-wrapper container valign-wrapper justify-content-between">
        <a class="valign-wrapper" href="http://localhost/Maine">
            <img class="responsive-img" src="img/logo_maime.png" alt="Logo">
        </a>
        <ul class="hide-on-med-and-down">
            <li><a class="pr-50 fs-20 light-brwn-1" href="http://localhost/Maine">ACCUEIL</a>
            <li><a class="pr-50 fs-20 light-brwn-1" href="meme">CRÉER UN MEME</a>
            <li><input class="light-yellow" id="search" type="search" placeholder="Rechercher un Meme" required></li>
                {# <label class="label-icon" for="search"><i class="material-icons">search</i></label> #}
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li>
            <a class="fs-20 grey-text text-darken-4" href="#">Ajouter un meme</a>
            </li>
            <li>
                <a class="fs-20 grey-text text-darken-4" href="#">Login</a>
            </li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
        </div>
    </nav>
</header>

<div id="index-banner">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>>
  </div>