{% extends 'layout/layout.html.twig' %}

{% block title %}
  {{ parent() }} - Création de Meme
{% endblock %}

{% block content %}  
<!-- Section Random Meme -->

<div class="container ptb-50">
  <div class="section">
    <div class="row">
        <form action="upload.php" method="post" enctype="multipart/form-data">
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload Image" name="submit">
        </form>
    </div>
    <div class="row">
        {% for meme in memes %}
            <div class="carousel">
                <img class="h-500 w100 carousel-item" src="{{ meme.ima_url }}" alt="{{ meme.ima_title }}">     
            </div>
        {% endfor %}
    </div>
  </div>
</div>
    
    
{% endblock %}